/*
Original design: Variant Multi (v1.0 - Dec 15th, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-multi/
*/

*{font-size: 100%; font-family: candara; margin:0;padding:0;}
body{line-height: normal; background:#222a33;color:#444;font:100% Verdana,Helvetica,sans-serif;}
p{line-height:1.7em;margin-bottom:15px;}
a{color: #0c5561;}
a:hover{color:#333;}
h1{color: #0c5561;font-family: candara, Georgia, serif;font-size:2.4em;}
h2{color: #0c5561;font-family: candara, Georgia, serif;font-size:2.2em;font-weight:400;margin:0 0 10px 0;}
h3{color: #0c5561;font-family: candara, Georgia, serif;font-size:1.6em;font-weight:400;margin:0 0 8px;}
h4{font-size: 1.2em; color: #083848;font-family:Georgia,serif;font-weight:400;margin:0 0 8px;}
ul,ol,dl{margin:0 0 20px 20px; padding:0;}
li{padding-bottom:5px;}

#containerfull,#container980,#container760,#container600{margin:0 auto;padding:0;overflow:hidden;border-left:1px solid #ddd;border-right:1px solid #ddd;}
#containerfull{width:100%;border:0;}
#container980{width:980px;}
#container760{width:760px;}
#container600{width:600px;}

#header{font-family: candara; background-color: #0c5561;margin:0 auto;padding:10px 25px;text-shadow: 4px 4px 5px #000;}
#header h1{font-family: candara; margin:0;padding:20px 0 10px;}
#header h1 a{color:#eee;font-family: candara, Georgia, serif;font-size: 44pt;font-weight:400;text-decoration:none;}
#header h2{color:#ddd;padding:0 0 10px 25px;margin:0;font-family: candara, Georgia, serif;font-size:1.8em;font-weight:400;}

#menu{background-color: #5f5c48;height:40px;}
#menu ul{float:right;height:40px;list-style:none;margin:0;padding:0 25px 0 0;}
#menu ul li{ background-color: #0a625e;display:block;float:left;margin:0 0 0 5px;padding:0;}
#menu ul li a{ background-color: #262311;color:#ddd;display:block;font-size:1.4em;padding:10px 12px;text-decoration:none;}
#menu ul li a:hover{color:#fff;}
#menu ul li a.current{background-color: #eeeeee;color:#333;border-bottom:1px solid #eee;}

#feature{background-color:#eee;color:#555;padding:25px 25px 5px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#feature h2{color:#467aa7;font-size:2em;line-height:1em;}
#feature p{font-size:1.3em;margin:0 0 15px 0; line-height:1.5em;}

#main{clear:both;margin:0;background-color:#fff;padding:25px 25px 5px;}

#content{ word-break: keep-all; line-height: normal; width:99%;}
#content ul.news li{font-size: 140%;}
#content ul.news li a{font-weight: bold;text-decoration:none}

.greybg { background-color: #ded3a6; }

#sidebar{font-weight: bold; background:transparent url('images/sidebar-top.jpg') no-repeat scroll top left;float:right;width:25%;}
#sidebar .sidebarbox { margin-left: 0; margin-bottom: 0px; margin-right: 0; margin-top: 0; background-color:#fff; border:1px solid #467aa7; 
	-webkit-box-shadow: 5px  5px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,.5);}
#sidebar p{margin:10px 0 10px 10px;}
#sidebar ul{margin-left: 10px; margin-bottom: 10px; margin-right: 0; margin-top: 10px; list-style:none;padding:0;}
#sidebar ul li{margin:0 0 5px 0;}
#sidebar ul li a{color: #0c5561;font-weight:400;}
#sidebar ul.sidemenu {margin:0;}
#sidebar ul.sidemenu li{display:inline;padding:0;margin:0;}
#sidebar ul.sidemenu li a{display:block;padding:7px 5px 6px 10px;font-size:1.2em; font-weight:400;text-decoration:none;border-bottom:1px solid #ddd;}
#sidebar ul.sidemenu li a:hover{background-color:#eee;color:#333;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul{margin:0;padding:0;font-size:0.9em;border-bottom:1px solid #ccc;}
#sidebar ul.sidemenu ul li a{padding:5px 5px 5px 25px;border:0;font-weight:400;}
#sidebar ul.sidemenu ul li a:hover{border:0;}
#sidebar ul li a:hover{color:#333;}
#sidebar h2{background-color: #083848;color:#fff;font-size:1.5em;margin:0 0 0 0;padding:10px;}
#sidebar h3{font-size:1.4em; padding:10px 10px 0 10px;}

#footer{background-color:#ddd;margin:0 auto;padding:20px 25px 10px;border-top:1px solid #ccc;}
#footer h2{color:#467aa7;font-weight:400;font-size:1.5em;}
#footer p{color:#555;margin:0 0 10px 0;padding:0;}
#footer ul{border-top:1px solid #ccc;list-style:none;margin:0 0 15px 0;padding:0;}
#footer ul li{padding:0;margin:0;}
#footer ul li a{border-bottom:1px solid #ccc;color:#333;display:block;padding:7px 10px;text-decoration:none;}
#footer ul li a:hover{background-color:#eee;}

#footersections{display:block;margin:0 auto;}
#footersections .half{float:left;margin:0 3% 0 0;width:47%;}
#footersections .lasthalf{float:left;margin:0;width:50%;}
#footersections .quarter{float:left;margin:0 3% 0 0;width:22%;}
#footersections .lastquarter{float:left;width:25%;margin:0;}

#credits{background-color:#333;color:#aaa;padding:15px 25px;}
#credits p{text-align:left;font-size: 0.8em;margin:0;padding:0;line-height:1.4em;}
#credits a{color:#aaa;font-weight:400;}

.full{clear: left; float: left;width: 99%;}
.leftCentered{text-align: center; float:left;width:50%;}
.left{float:left;width:50%;}
.rightCentered{text-align: center; float:right;width:50%;}
.right{float:right;width:50%;}
.clear{clear:both;visibility:hidden;}
.small{font-size: 0.6em;}

img.floatLeftBox { 
    border-width: 2px; 
    border-color: black; 
    border-style: solid; 
    margin-left: 4px; 
    margin-bottom: 10px; 
    margin-right: 4px; 
    margin-top: 4px; 
    float: left; 
}

img.noFloat { 
    margin-left: 4px; 
    margin-bottom: 10px; 
    margin-right: 4px; 
    margin-top: 4px; 
    float: none; 
}

img.floatLeft { 
    margin-left: 4px; 
    margin-bottom: 10px; 
    margin-right: 4px; 
    margin-top: 4px; 
    float: left; 
}

img.floatRight { 
    clear: none; 
    margin-left: 4px; 
    margin-bottom: 10px; 
    margin-right: 4px; 
    margin-top: 4px; 
    float: right; 
}

hr {width: 100%;
text-align: left;/*this will align it for IE*/
margin: 0 auto 0 0; /*this will align it left for Mozilla*/
height: 1px;
}


.box {padding-top: 10px; margin-left: 0; margin-bottom: 0px; margin-right: 0; margin-top: 20px; padding-left: 10px; padding-bottom: 0px; padding-right: 10px; border:3px solid #262311; background-color: #fcf3c1; color:#444; line-height:1.5em; border-radius: 5px}

#pub {padding: 5px; border-width: 2px; border-style: none; background-color: #f1f1f1; font-size: 1.2em; margin-top: 20px; margin-bottom: 20px;}
#pub a{font-weight: bold; color: #09434e;}
#pub name{font-weight: bold; color: #09434e;}
#pub journal{font-style: italic;}

#pub links{ font-weight: bold; color: black; font-size: large; font-style: italic;}

#pub links a{ font-weight: bold; color: maroon; font-size: large; font-style: italic;}

#pub img{height: 6em; align: right; padding-right: 5px;}


.button { clear: none; padding-left: 5px; padding-bottom: 3px; padding-right: 5px; padding-top: 3px; margin-left: 2px; margin-bottom: 0px; margin-right: 2px; margin-top: 0px; outline: none; display: inline-block;float: left; 
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: 1.5em;
	-webkit-box-shadow: 0 5px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 5px 3px rgba(0,0,0,.5);
box-shadow: 0 1px 2px rgba(0,0,0,.2); text-decoration: none; font-weight: bold;}

.researchAreaTitle { font-weight: bold; font-size: 1.2em; font-family: Verdana; }

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	color: white;
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

ul, ol { overflow: hidden; padding-left: 40px; margin-left: 0; }
ol li, ul li { list-style-position: outside; padding-left: 0; } 
